<p>bikebook works!</p>
<div>
    <form #bikeForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Name</label>
            <input type="text" name="nm" [(ngModel)]="bikeModel.name" />
        </div>
        <div>
            <label>Company</label>
            <!--<input type="text" name="comp" [(ngModel)]="bikeModel.company" />-->
            <select name="comp" [(ngModel)]="bikeModel.company" (change)="onSelectCompany()">
                <option>SELECT</option>
                <option>BAJAJ</option>
                <option>TVS</option>
                </select>
        </div>
        <div>
            <label>Color</label>
            <input type="text" name="col" [(ngModel)]="bikeModel.color" />
        </div>
        <div>
            <label>Model</label>
            <!--<input type="text" name="mod" [(ngModel)]="bikeModel.model" />-->
            <select name="mod" [(ngModel)]="bikeModel.model">
                <option *ngFor="let m of models">{{m}}</option>
            </select>
        </div>
        <div>
            <label>Engine CC</label>
            <input type="number" name="cc" [(ngModel)]="bikeModel.engineCC" />
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>

</div>