<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">X-workz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#" routerLink="/vote">Vote <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#" routerLink="/obseravble">Obseravble <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#" routerLink="/ipl">IPL <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#" routerLink="/reactive">Reactive Forms <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>


<router-outlet>
</router-outlet>