<h1>Kodchadri : {{kodachadriCount}} Puri : {{puriCount}}</h1>

<app-place vname='Jaganath' (place)="onVote($event)"></app-place>

<app-place vname='Akash' (place)="onVote($event)"></app-place>

<app-place vname='Vidya' (place)="onVote($event)"></app-place>

<app-place vname='Vinayak' (place)="onVote($event)"></app-place>

<app-place vname='Karthik' (place)="onVote($event)"></app-place>

<app-place vname='Prabhavati' (place)="onVote($event)"></app-place>

<app-place vname='Apeksha' (place)="onVote($event)"></app-place>

<app-place vname='Namita' (place)="onVote($event)"></app-place>